<!DOCTYPE html>
<html lang="pt-BR" ng-app="beercalc">

    <head>
        <meta charset="utf-8">
        <title>BeerCalc!!!</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Wanderson Alves">
        <!-- Chrome, Firefox OS, Opera and Vivaldi -->
        <meta name="theme-color" content="#FF5722">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#FF5722">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#FF5722">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- build:css main.css -->
        <link rel="stylesheet" href="/bower_components/please-wait/build/please-wait.css">
        <link rel="stylesheet" href="/res/css/splash.css">
        <link rel="stylesheet" href="/res/css/style.css">
        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
        <!-- endbuild -->
        <link rel="manifest" href="manifest.json"/>
    </head>

    <body layout="column" ng-cloak ng-controller="NavigationController as navController">
        <md-toolbar md-scroll-shrink md-whiteframe="8">
            <div class="md-toolbar-tools">
                <md-button ng-click="navController.toggle()" class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="res/svg/ic_menu_white_24px.svg"></md-icon>
                </md-button>
                <h2>
                    <span class="md-title">{{navController.currentState}}</span>
                </h2>
            </div>
        </md-toolbar>
        <div class="container" layout="row" flex>
            <md-sidenav md-swipe-left="navController.toggle()" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" md-component-id="left" md-whiteframe="4">
                <md-toolbar layout="column">
                    <md-list-item class="md-3-line" ng-click="null" ng-if="navController.currentUser">
                        <img class="md-avatar" ng-src="{{navController.currentUser.avatar}}"/>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{navController.currentUser.name}}</h3>
                            <h4>{{navController.currentUser.title}}</h4>
                            <p>Nivel
                                {{navController.currentUser.level}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-3-line" ng-click="null" ng-if="!navController.currentUser">
                        <div class="md-list-item-text" layout="column">
                            <h3>Erro ao obter dados do usuario :(</h3>
                        </div>
                    </md-list-item>
                </md-toolbar>
                <md-content layout-padding>
                    <md-list>
                        <div ng-repeat="($index, menu) in navController.sideMenuOptions">
                            <md-list-item class="md-body-1" ng-click="navController.goto(menu)">
                                <md-icon md-svg-icon="{{menu.icon}}"></md-icon>
                                <p>{{menu.label}}</p>
                            </md-list-item>
                        </div>
                        <md-divider></md-divider>
                        <md-list-item class="md-body-1" ng-click="navController.goto('options')">
                            <p>Configurações</p>
                        </md-list-item>
                        <md-list-item class="md-body-1" ng-click="navController.goto('help')">
                            <p>Ajuda</p>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-sidenav>
            <md-content flex layout-padding md-swipe-right="navController.toggle()">
                <div layout="column">
                    <main ui-view></main>
                </div>
            </md-content>
        </md-sidenav>
    </div>
    
    <!-- build:js main.js -->
    <script src="bower_components/please-wait/build/please-wait.min.js"></script>
    <script src="controllers/loading-screen.controller.js"></script>
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap/js/collapse.js"></script>
    <!-- endbower -->
    <script src="config/beercalc.module.js"></script>
    <script src="config/beercalc.config.js"></script>
    <script src="config/beercalc.routes.js"></script>
    <script src="config/beercalc.run.js"></script>
    <script src="factories/side-menu.factory.js"></script>
    <script src="services/profile.service.js"></script>
    <script src="services/observers/currentState.observer.js"></script>
    <script src="services/observers/currentUser.observer.js"></script>
    <script src="controllers/navigation.controller.js"></script>
    <script src="controllers/profile.controller.js"></script>
    <script src="controllers/bills.controller.js"></script>
    <script src="controllers/help.controller.js"></script>
    <script src="controllers/social.controller.js"></script>
    <script src="controllers/options.controller.js"></script>
    <!-- endbuild -->
    <script src="push-config.js"></script>
</body>

</html>
