<!DOCTYPE html>
<html lang="pt-BR" ng-app="beercalc">

<head>
    <meta charset="utf-8">
    <title>BeerCalc!!!</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Wanderson Alves">
    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#e97f02">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#e97f02">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#e97f02">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <!-- build:css -->
    <link rel="stylesheet" href="/bower_components/please-wait/build/please-wait.css">
    <link rel="stylesheet" href="/res/css/splash.css">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <!-- endbuild -->
</head>

<body layout="column" ng-cloak ng-controller="NavigationController as navController">
    <!-- firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAryr8HwUx6BawW1DY7_nmaKzIudbafGEk",
            authDomain: "beercalc-df82c.firebaseapp.com",
            databaseURL: "https://beercalc-df82c.firebaseio.com",
            storageBucket: "beercalc-df82c.appspot.com",
        };
        firebase.initializeApp(config);
    </script>
    <!-- /firebase -->
    <md-toolbar md-scroll-shrink md-whiteframe="8">
        <div class="md-toolbar-tools">
            <md-button ng-click="navController.toggleLeft()" class="md-icon-button" aria-label="Settings">
                <md-icon md-svg-icon="res/svg/ic_menu_white_24px.svg"></md-icon>
            </md-button>
            <h2><span class="md-title">{{navController.currentState}}</span></h2>
        </div>
    </md-toolbar>
    <div class="container" layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <md-toolbar class="md-theme-indigo" layout="row">
                <md-list-item class="md-3-line" ng-click="null">
                    <img class="md-avatar" ng-src="res/photos/profile.jpg" />
                    <div class="md-list-item-text" layout="column">
                        <h3>Popoto</h3>
                        <h4>Bebedor Master</h4>
                        <p>Nivel 20</p>
                    </div>
                </md-list-item>
            </md-toolbar>
            <md-content layout-padding>
                <md-list>
                    <md-list-item ui-sref="profile">
                        <md-icon md-svg-icon="res/svg/ic_home_white_24px.svg"></md-icon>
                        <p>Home</p>
                    </md-list-item>
                    <md-list-item ui-sref="profile" ng-click="navController.close('Perfil')">
                        <md-icon md-svg-icon="res/svg/ic_account_circle_white_24px.svg"></md-icon>
                        <p>Perfil</p>
                    </md-list-item>
                    <md-list-item ui-sref="bills" ng-click="navController.close('Contas')">
                        <md-icon md-svg-icon="res/svg/ic_payment_white_24px.svg"></md-icon>
                        <p>Contas</p>
                    </md-list-item>
                    <md-list-item ui-sref="bills">
                        <md-icon md-svg-icon="res/svg/ic_more_white_24px.svg"></md-icon>
                        <p>Recomendações</p>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item ui-sref="options">
                        <!-- <md-icon md-svg-icon="res/svg/ic_settings_white_24px.svg"></md-icon> -->
                        <p>Configurações</p>
                    </md-list-item>
                    <md-list-item ui-sref="options">
                        <!-- <md-icon md-svg-icon="res/svg/ic_settings_white_24px.svg"></md-icon> -->
                        <p>Ajuda</p>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
            <div layout="column">
                <ui-view></ui-view>
            </div>
        </md-content>
    </div>

    <!-- build:splash -->
    <script src="bower_components/please-wait/build/please-wait.min.js"></script>
    <script src="controllers/loading-screen.controller.js"></script>
    <!-- endbuild -->

    <!-- build:vendor -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap/js/collapse.js"></script>
    <!-- endbuild -->

    <!-- build:js -->
    <script src="beercalc.module.js"></script>
    <script src="beercalc.config.js"></script>
    <script src="beercalc.routes.js"></script>
    <script src="beercalc.run.js"></script>
    <script src="controllers/navigation.controller.js"></script>
    <!-- endbuild -->
</body>

</html>
