<md-content>
    <md-list>
        <h5>Perfil</h5>
        <md-list-item class="md-body-1">
            <p>Visualizar Estatisticas</p>
        </md-list-item>
        <md-list-item class="md-body-1">
            <p>Editar Perfil</p>
        </md-list-item>
        <md-list-item class="md-body-1" ng-click="optionsControll.logoutAuth0()">
            <p>Fazer Logout</p>
        </md-list-item>
        <md-divider></md-divider>
        <h5>Aplicação</h5>
        <md-list-item class="md-body-1" ng-click="optionsControll.changeTheme()">
            <p>Alterar Cores</p>
        </md-list-item>
        <md-list-item class="md-body-1">
            <p>Limpar Dados da Aplicação</p>
        </md-list-item>
        <md-list-item class="md-body-1">
            <p>Sobre</p>
        </md-list-item>
    </md-list>
</md-content>
