<md-content>
    <md-list>
        <md-subheader class="md-no-sticky">Perfil</md-subheader>
        <md-list-item class="secondary-button-padding">
            <p class="font-9-em">Visualizar Estatisticas</p>
        </md-list-item>
        <md-list-item class="secondary-button-padding">
            <p class="font-9-em">Editar Perfil</p>
        </md-list-item>
        <md-list-item class="secondary-button-padding" ng-click="optionsControll.logoutAuth0()">
            <p class="font-9-em">Fazer Logout</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Aplicação</md-subheader>
        <md-list-item class="secondary-button-padding">
            <p class="font-9-em">Limpar Dados da Aplicação</p>
        </md-list-item>
        <md-list-item class="secondary-button-padding" ui-sref="about">
            <p class="font-9-em">Sobre</p>
        </md-list-item>
    </md-list>
</md-content>
