<md-list>
    <h5>Perfil</h5>
    <md-list-item class="secondary-button-padding">
      <p>Visualizar Estatisticas</p>
    </md-list-item>
    <md-list-item class="secondary-button-padding">
      <p>Editar Perfil</p>
    </md-list-item>
    <md-list-item class="secondary-button-padding" ng-click="optionsControll.logoutUser()">
        <p>Fazer Logout</p>
    </md-list-item>
    <md-divider></md-divider>
    <h5>Aplicação</h5>
    <md-list-item class="secondary-button-padding">
      <p>Alterar Cores</p>
    </md-list-item>
    <md-list-item class="secondary-button-padding">
      <p>Limpar Dados da Aplicação</p>
    </md-list-item>
    <md-list-item class="secondary-button-padding">
      <p>Sobre</p>
    </md-list-item>
</md-list>
